<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>


<div id="messages"></div>

<label for="username">Username:</label>
<input type="text" id="username" /><p/>
<label for="message">Message:</label>
<input type="text" id="message" /><p/>
<button id="send">Send</button>